*{font-size:12px;}
html{border:0;width:100%;}
a{color:#1C80CA}
body{font-family:"宋体",Arail,verdana;font-size:12px;line-height:1.5em;color:#444;background:#fff;margin:0 auto;}
/*通用*/
.box{padding:10px;padding-top:2px;margin-right:25px;}
table.group1 td{padding-right:3px;text-align:right;border:none;}
.noBorder{border:none;}
.noBorder table{border:none;}
.noBorder td{border:none;}
.align_Left{text-align:left;}
.align_Center{text-align:center;}
.align_Right{text-align:right;}

.split1{background:#fff;}

/*页面标题*/
.title{font-weight:bold;font-size:14px;color:#05539b; background:#F1F9FC url(images/dictype.jpg) no-repeat 9px 50%;padding-left:25px;border:1px solid #b3d8ea;line-height:28px; text-align:left}
td.title1,th.title1{font-weight:bold;padding-left:3px;text-align:left;border:none;background:#fff}

/*表单区*/
table{width: 100%;border-collapse: collapse;margin-top:5px;background:#fff}
td.TdLabel{text-align:right;padding-right:2px;background:#F1F9FC}
td.TdValue{text-align:left;padding-left:3px;}
td,th{height:23px;border:#B3D8EA 1px solid;}

 




/*列表区*/
.panel_grid table{width: 100%;border-collapse: collapse;margin-top:5px;background:#fff;border:none;}
.panel_grid th{background:#F1F9FC;height:23px;text-align:center;border:#B3D8EA 1px solid;}
.panel_grid td{background:#fff;height:20px;text-align:center;border:#B3D8EA 1px solid;}
.panel_grid td .label{color:Green;}

.trOver td{background:#eee;}
/*查询区*/
.panel_function{text-align:right;padding:3px;}


/*详细区*/
.panel_detail table{border-collapse: collapse;border:#DCDCDC 1px solid;width:100%;}
.panel_detail th{background:#FAFAF8;height:25px;text-align:center;border:#DCDCDC 1px solid;}
.panel_detail td{background:#fff;height:23px;text-align:left;padding-left:2px;border:#DCDCDC 1px solid}
.panel_detail td.label{text-align:right;font-weight:bold;padding-right:2px;}

/*控件类*/
.btn1{cursor:pointer;border:none;width:49px;height:20px;padding-top:2px;background:url(http://erpcd.360buy.com/sitemanage/skin/default/images/btn1.gif);margin:2px;}
.btn2{cursor:pointer;border:none;width:91px;height:20px;padding-top:2px;background:url(http://erpcd.360buy.com/sitemanage/skin/default/images/btn2.gif);margin:2px;}

/*
input.btn{margin:0 10px; background:#1d66b8; border:2px #a9cbf1 groove; border-right-color:#546578; border-bottom-color:#546578;padding:1px 5px;color:#fff}
input.btn{margin:0 10px; background:#679DCF; border:2px #a9cbf1 groove; border-right-color:#546578; border-bottom-color:#546578;padding:1px 5px;color:#fff}
input.btn{margin:0 10px; background:#fff; border:2px #a9cbf1 groove; border-right-color:#546578; border-bottom-color:#546578;padding:1px 5px}
*/
.panelSearch1{background:#fff;padding-left:9px;border:none;}
.panelSearch1 input{width:54px;height:57px;background:url(images/search1.jpg);border:none;cursor:pointer;}
.panelSearch2{background:#fff;padding-left:4px;border:none;}
.panelSearch2 input{width:71px;height:28px;background:url(images/search2.png);border:none;cursor:pointer;}


.txt{height:15px;padding-left:2px;border:gray 1px solid;}
.txtFocus{height:15px;border:#FACD08 2px solid;padding-left:2px;}
.message{border:#1C80CA 3px solid;padding:3px;background:#FFFFF5}
.message .messageTitle{margin:2px;border-bottom:#1C80CA 1px solid;cursor:move;}
.message .messageTitle table{margin:2px;border:none;width:100%;border-collapse: collapse;padding:0px;background:#FFFFF5}
.message .messageTitle table td{font-weight:bold;height:12px;border:none;}
.message .messageTitle .messageTitleText{}
.message .messageTitle .messageTitleClose{width:10px;}


#MWContent{margin:2px;}
#MWContent table{border-collapse: collapse;width:100%;background:#FFFFF5}
#MWContent th,#MWContent td{border:none;border-bottom:#eee 1px solid;text-align:center}
#MWContent th{font-weight:bold;}

.pager{margin-top:3px;height:25px;color:Gray}
.pager .pageBar{float:right;}
.pager .pageInfo{float:left;margin:3px 0 0 5px;}
.pager .pageInfo .valueFont{color:Red;padding-left:2px;}


   .voteList{padding:6px;}
   .voteList table{border:#ccc 1px solid;}
   .voteList td,.voteList th{border:#ccc 1px solid;border-left:none;border-right:none;text-align:center;}
   .voteList th{background:#eee}
   .voteList td{border-bottom:none;background:#F8F6F0}
   td a{margin:0 2px 0 2px;}
   .options{margin-left:170px; border:#ccc 1px solid;padding:3px;margin-bottom:3px;background:#fff}
   .options table{border:none;background:#fff}
   .options table td{border:none;border-bottom:#ccc 1px solid;background:#fff}
   .options table th{background:#fff}
.Pagination{text-align:right;padding:5px 0;margin:10px 0 0;}
.Pagination a{padding:3px 7px 0px;margin-left:2px;}
.Pagination a:link,.Pagination a:visited{border:1px solid #CCC;text-decoration:none;color:#666;}
.Pagination a:hover,.Pagination a:active,
.Pagination a.current:link,.Pagination a.current:visited{border:1px solid #4398CE;background:#4398CE;color:#fff;}




.message{position:absolute;top:400px;left:550px;width:300px;border: 3px solid #1C80CA; padding: 3px 8px;}
.message .mt {border-bottom: 1px solid #B3D8EA;height:24px;line-height:24px;font-size:12px;}\
.message .mt h3{margin:0px;}
.message .mt .extra{float:right;}
.message .mc{padding:5px 0;}
.message .mc textarea{width:98%;height:100px;}
.message .mc .btn{margin-left:80px;margin-top:5px;}